{% extends "shop/base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
{{ car.name }}
{% endblock %}
{% block content %}
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">{{ car.marca }} {{ car.modelo }}</strong></div>
        </div>
      </div>
    </div>  

    <div class="site-section">
      <div class="container">
        <div class="row">
          
          <div class="col-md-6">
            <h2 class="text-black mr-2">{{ car.marca }} {{ car.modelo }}</h2>
            <p>Consumo: {{ car.consumo }}</p>
            <p>Combustible: {{ car.combustible }}</p>
            <p>Conduccion: {{ car.conduccion }}</p>
            <p>Caballos: {{ car.caballos }}</p>
            <p><strong class="text-primary h4">Precio Base: {{ car.precio_inicial }}</strong></p>

            {% if car.accesorios.all %}
                    <h3>Accesorios:</h3>
                    <ul>
                        {% for accesorio in car.accesorios.all %}
                            <li>{{ accesorio.nombre }} - {{ accesorio.precio }}€</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No se han seleccionado accesorios para este coche.</p>
                {% endif %}

            <p><strong class="text-primary h4">Precio total: {{ car.get_precio_total }}</strong></p>

          </div>
        </div>
      </div>
    </div>

    <div class="site-section block-3 site-blocks-2 bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>Featured Products</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="nonloop-block-3 owl-carousel">
              <div class="item">
                <div class="block-4 text-center">
                  <figure class="block-4-image">
                    <img src="#" alt="Image placeholder" class="img-fluid">
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="#">T-Shirt Mockup</a></h3>
                    <p class="mb-0">Finding perfect products</p>
                    <p class="text-primary font-weight-bold">$50</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="block-4 text-center">
                  <figure class="block-4-image">
                    <img src="images/shoe_1.jpg" alt="Image placeholder" class="img-fluid">
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="#">Corater</a></h3>
                    <p class="mb-0">Finding perfect products</p>
                    <p class="text-primary font-weight-bold">$50</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}