{% extends "shop/base/base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong
                    class="text-black">Shop</strong></div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-9 order-2">
                <div class="row mb-5">
                    {% for car in cars %}
                    <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                        <div class="block-4 text-center border">
                            <div class="block-4-text p-4">
                                <h3><a href="{{ car.get_absolute_url }}">{{car.marca}}  {{ car.modelo }}</a></h3>
                                <p class="mb-0">Consumo: {{ car.consumo }}</p>
                                <p class="text-primary font-weight-bold">Precio base: {{ car.precio_inicial }}€</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
                
            </div>
            
        </div>
    </div>
</div>
{% endblock %}