<!-- incidencias/templates/incidencias/crear_incidencia.html -->
{% extends "base/base.html" %}

{% block content %}
<!-- Contenido específico de la creación de incidencias -->
<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            {% with base_url="/opiniones/" %}
            <div class="col-md-12 mb-0"><a href="{{ base_url }}">Incidencias</a> <span class="mx-2 mb-0">/</span> <strong
                    class="text-black">Nueva incidencia</strong></div>
            {% endwith %}

        </div>
    </div>
</div>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Crear Incidencia</h5>
                        <br/>
                        <form method="post" action="{% url 'opiniones:crear_opinion' %}" class="needs-validation" novalidate>
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}