{% extends "base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
{% endblock %}
{% block content %}
<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      {% with base_url="/coches/selector" %}
      <div class="col-md-12 mb-0"><a href="{{ base_url }}">Coches</a> <span class="mx-2 mb-0">/</span> <strong
          class="text-black">{{ coche.marca }} {{ coche.modelo }}</strong></div>
      {% endwith %}
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-black mr-2">{{ coche.marca }} {{ coche.modelo }}</h2>
        {% if coche.stock > 0 %}
        <p class="text-success">¡Disponible en stock!</p>
        {% else %}
        <p class="text-danger">¡Producto Agotado!</p>
        {% endif %}
        {% if coche.imagen %}
        <img src="{{ coche.imagen.url }}" alt="{{ coche.marca }}" style="max-width: 100%;">
        {% else %}
        <p>No hay imagen disponible</p>
        {% endif %}
        <p>Consumo: {{ coche.consumo }}</p>
        <p>Combustible: {{ coche.combustible }}</p>
        <p>Conduccion: {{ coche.conduccion }}</p>
        <p>Caballos: {{ coche.caballos }}</p>
        <p><strong class="text-primary h4">Precio Base: {{ coche.precio_inicial }}€</strong></p>
        {% if accesorios_seleccionados %}
        <h3>Accesorios:</h3>
        <ul>
          {% for accesorio in accesorios_seleccionados %}
          <li>{{ accesorio.nombre }} - {{ accesorio.precio }}€</li>
          {% endfor %}
        </ul>
        {% else %}
        <p>No se han seleccionado accesorios para este coche.</p>
        {% endif %}

        <p><strong class="text-primary h4">Precio total: {{ precio_total }}€</strong></p>
        <form id="comprar-form" method="post" class="row">
          {% csrf_token %}
          {% for accesorio in accesorios_seleccionados %}
          <input type="hidden" name="accesorios_comprar" value="{{ accesorio.id }}">
          {% endfor %}
          <div class="col-12">
            {% if alerta %}
            <div class="alert alert-warning" role="alert">
              {{ alerta }}
            </div>
            {% endif %}
            {% if user.is_authenticated and user.is_staff %}
            <a href="{% url " shop:editar_coche" coche.id %}"><button type="button" class="btn btn-primary"
                name="editar">Editar</button></a>
            <a href="{% url " shop:borrar_coche" coche.id %}"><button type="button" class="btn btn-primary"
                name="editar">Eliminar</button></a>

            {% else %}
            {% if coche.stock > 0 %}
            <label for="cantidad">Cantidad:</label>
            <input type="number" name="cantidad" id="cantidad" value="1" min="1" max="{{ coche.stock }}">
            <br>
            <button type="submit" class="btn btn-primary" name="comprar">Añadir a la cesta</button>
            {% else %}
            <button type="button" class="btn btn-secondary" disabled>Producto Agotado</button>
            {% endif %}
            {% endif %}
          </div>
        </form>
      </div>
      {% if user.is_authenticated and user.is_staff %}
      {% else %}
      <div class="col-md-6">
        <h3>Accesorios Disponibles:</h3>
        <form id="accesorios-form" method="post" class="row">
          {% csrf_token %}
          {% for accesorio in accesorios_disponibles %}
          <div class="col-sm-6 col-lg-4 mb-4">
            <div class="block-4 text-center border">
              <div class="block-4-text p-4">
                {% if accesorio.imagen %}
                <img src="{{ accesorio.imagen.url }}" alt="{{ accesorio.nombre }}" style="max-width: 100%;">
                {% else %}
                <p>No hay imagen disponible</p>
                {% endif %}
                <p>{{ accesorio.nombre }} </p>
                <p>{{ accesorio.precio }}€ </p>
                {% if accesorio.stock == 0 %}
                <p class="text-danger">¡Producto Agotado!</p>
                {% else %}
                <label class="d-block">
                  <input type="checkbox" name="accesorios_seleccionados[]" value="{{ accesorio.id }}">
                  Seleccionar
                </label>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="col-12">
            <button type="submit" class="btn btn-primary" name="confirmar_eleccion">Confirmar elección</button>
          </div>
        </form>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<div class="site-section">
  <div class="container">
    <div class="col-md-9 order-2">
      <div class="row mb-5">
        <h3>Opiniones:</h3>
        {% for opinion in opiniones %}
        <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
          <div class="block-4 text-center border">
            <div class="block-4-text p-4">
              <p class="mb-0">Usuario: {{ opinion.usuario.first_name }}</p>
              <p class="mb-0">Descripcion: {{ opinion.descripcion }}</p>
              <div class="text-primary font-weight-bold">
                Valoración:
                {% for i in "12345" %}
                {% if i|add:0 <= opinion.valoracion %} <i class="fas fa-star"></i>
                  {% else %}
                  <i class="far fa-star"></i>
                  {% endif %}
                  {% endfor %}
              </div>
              {% if user.is_authenticated and user.is_staff %}
              <a href="{% url " opiniones:borrar_opinion" opinion.id %}">
                <button type="button" class="btn btn-danger btn-smb" name="eliminar">Eliminar</button>
              </a>
              {% endif %}

            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}