{% extends "base/base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Coches{% endif %}
{% endblock %}
{% block content %}
<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            {% with base_url="/" %}
            <div class="col-md-12 mb-0"><a href="{{ base_url }}">Home</a> <span class="mx-2 mb-0">/</span> <strong
                    class="text-black">Accesorios</strong></div>
            {% endwith %}

        </div>
    </div>
</div>

<body>
    <div class="site-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-3 order-1 mb-5 mb-md-0">
                    {% if user.is_authenticated and user.is_staff%}
                    <a href="{% url "shop:crear_accesorio" %}"><button type="button" class="btn btn-primary" name="editar">Crear</button></a>
                    <br>
                    <br>
                    {% endif %} 
                    <form method="get" id="filtrado">
                        <h3 class="text-black mb-3">Filtrar</h3>
                        <div class="form-group">
                            <input class="form-check-input" type="checkbox" id="con_stock" name="con_stock" {% if con_stock %}checked{% endif %}>
                            <label class="form-check-label" for="con_stock">
                                Mostrar solo coches con stock
                            </label>
                            <br>
                            <br>
                            <label for="modelo">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" value="{{ nombre }}">
                            

                            <label for="precio_maximo">Precio Máximo</label>
                            <input type="number" class="form-control" id="precio_maximo" name="precio_maximo"
                                value="{{ precio_maximo }}">


                        </div>
                        <button type="submit" class="btn btn-primary btn-sm">Aplicar Filtro</button>
                        <button type="button" class="btn btn-secondary btn-sm" onclick="resetFilters(event)">Resetear
                            Filtros</button>
                    </form>
                </div>
                <div class="col-md-9 order-2">
                    <div class="row mb-5">
                        {% for accesorio in accesorios %}
                        <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                            <div class="block-4 text-center border">
                                <div class="block-4-text p-4">
                                    {% if accesorio.imagen %}
                                    <img src="{{ accesorio.imagen.url }}" alt="{{ accesorio.nombre }}" style="max-width: 100%;">
                                    {% else %}
                                    <p>No hay imagen disponible</p>
                                    {% endif %}
                                    <br/>
                                    <h3><a href="{{ accesorio.get_absolute_url }}">{{accesorio.nombre}}</a></h3>
                                    <p class="mb-0">Stock: {{ accesorio.stock }}</p>
                                    <p class="text-primary font-weight-bold">Precio: {{ accesorio.precio }}€</p>
                                    {% if accesorio.stock == 0 %}
                                        <p class="text-danger">¡Producto Agotado!</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                

            </div>
        </div>
    </div>
    <script>
        function resetFilters(event) {
            var url = "/";
            window.location.href = url
        }
    </script>
</body>
{% endblock %}