{% extends "shop/base/base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Coches{% endif %}
{% endblock %}
{% block content %}
<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            {% with base_url="/" %}
            <div class="col-md-12 mb-0"><a href="{{ base_url }}">Home</a> <span class="mx-2 mb-0">/</span> <strong
                    class="text-black">Tienda</strong></div>
            {% endwith %}

        </div>
    </div>
</div>

<body>
    <div class="site-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-3 order-1 mb-5 mb-md-0">
                    <form method="get" id="filtrado">
                        <h3 class="text-black mb-3">Filtrar</h3>
                        <div class="form-group">
                            <input class="form-check-input" type="checkbox" id="con_stock" name="con_stock" {% if con_stock %}checked{% endif %}>
                            <label class="form-check-label" for="con_stock">
                                Mostrar solo coches con stock
                            </label>
                            <br>
                            <br>
                            <label for="modelo">Marca</label>
                            <input type="text" class="form-control" id="marca" name="marca" value="{{ marca }}">
                            <label for="modelo">Modelo</label>
                            <input type="text" class="form-control" id="modelo" name="modelo" value="{{ modelo }}">
                            <label for="combustible">Tipo de Combustible</label>
                            <select class="form-control" id="combustible" name="combustible">
                                <option value="" {% if not combustible %}selected{% endif %}>Todos</option>
                                <option value="gasolina" {% if combustible == 'gasolina' %}selected{% endif %}>Gasolina
                                </option>
                                <option value="diesel" {% if combustible == 'diesel' %}selected{% endif %}>Diesel</option>
                                
                            </select>

                            <label for="combustible">Tipo de Conducción</label>
                            <select class="form-control" id="conduccion" name="conduccion">
                                <option value="" {% if not conduccion %}selected{% endif %}>Todos</option>
                                <option value="manual" {% if conduccion == 'manual' %}selected{% endif %}>Manual</option>
                                <option value="automatico" {% if conduccion == 'automatico' %}selected{% endif %}>
                                    Automático</option>
                            </select>

                            <label for="precio_maximo">Precio Máximo</label>
                            <input type="number" class="form-control" id="precio_maximo" name="precio_maximo"
                                value="{{ precio_maximo }}">

                            <label for="consumo">Consumo</label>
                            <input type="number" class="form-control" id="consumo" name="consumo" value="{{ consumo }}">

                            <label for="caballos">Caballos</label>
                            <input type="number" class="form-control" id="caballos" name="caballos"
                                value="{{ caballos }}">
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm">Aplicar Filtro</button>
                        <button type="button" class="btn btn-secondary btn-sm" onclick="resetFilters(event)">Resetear
                            Filtros</button>
                    </form>
                </div>
                <div class="col-md-9 order-2">
                    <div class="row mb-5">
                        {% for coche in coches %}
                        <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                            <div class="block-4 text-center border">
                                <div class="block-4-text p-4">
                                    {% if coche.imagen %}
                                    <img src="{{ coche.imagen.url }}" alt="{{ coche.marca }}" style="max-width: 100%;">
                                    {% else %}
                                    <p>No hay imagen disponible</p>
                                    {% endif %}
                                    <br/>
                                    <h3><a href="{{ coche.get_absolute_url }}">{{coche.marca}} {{ coche.modelo }}</a></h3>
                                    <p class="mb-0">Consumo: {{ coche.consumo }}</p>
                                    <p class="text-primary font-weight-bold">Precio base: {{ coche.precio_inicial }}€</p>
                                    {% if coche.stock == 0 %}
                                        <p class="text-danger">¡Producto Agotado!</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                

            </div>
        </div>
    </div>
    <script>
        function resetFilters(event) {
            var url = "/";
            window.location.href = url
        }
    </script>
</body>
{% endblock %}