<footer class="site-footer border-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="footer-heading mb-4">Enlaces de interés</h3>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            <li><a href="/about">Quienes Somos?</a></li>
                            <li><a href="/incidencias">Atención al Cliente</a></li>
                            
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            <li><a href="/signup">Crear Cuenta</a></li>
                            <li><a href="/contact">Contacto</a></li>
                        </ul>
                    </div>                    
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <h3 class="footer-heading mb-4">Promociones</h3>
                <a href="#" class="block-6">
                    <h3 class="font-weight-light  mb-0">Entrega express gratuita con pedidos superiores a 25000€</h3>
                    <p>Activa desde &mdash; 01/12/2023</p>
                </a>
            </div>
            <div class="col-lg-4">
                <div class="block-5 mb-5">
                    <h3 class="footer-heading mb-4">Información de Contacto</h3>
                    <ul class="list-unstyled">
                        <li class="address">Calle Camino de la Pañoleta, 55, La Carlota, Córdoba, España</li>
                        <li class="phone"><a href="tel://+34955162485">+34 955162485</a></li>
                        <li class="email">info@cartechweb.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>