{% extends 'base/base.html' %}

{% block content %}

<div class="container mt-5">
    <h2>Listado de Usuarios</h2>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Email</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.get_full_name }}</td>
                    <td>
                        <a href="{% url 'user_update_admin' pk=user.pk %}" class="btn btn-primary btn-sm">Editar</a>
                        <a href="{% url 'user_delete' pk=user.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>

{% endblock %}