{% extends "base/base.html" %}
{% load static %}
{% load crispy_forms_tags %} 
{% block content %}

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center text-primary mb-4">Login - Cartech Web</h2>
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Correo electrónico:</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña:</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block" value="Iniciar sesión">
                        </div>
                    </form>
                    <p class="text-center">¿No tienes una cuenta? <a href="{% url 'signup' %}">Regístrate aquí</a></p>
                    <p class="text-center">¿No quieres registrarte? <a href="{% url 'create_default_user' %}">Entra como invitado</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
