<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - Cartech Web</title>
    <!-- Agrega aquí tus enlaces a las hojas de estilo (CSS) si es necesario -->
</head>
<body>
    <div style="text-align: center; margin-top: 50px;">
        <h2>Registro - Cartech Web</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Registrarse</button>
        </form>
    </div>
</body>
</html>
