
{% extends "base/base.html" %}

{% block content %}
  <div class="container">
    <h2>Gestión de Incidencias</h2>

    <!-- Botón para crear nueva incidencia -->
    <a href="{% url "incidencias:crear_incidencia" %}" class="btn btn-primary">Crear Nueva Incidencia</a>

    <!-- Botón para listar incidencias -->
    <a href="{% url "incidencias:listar_incidencias" %}" class="btn btn-success">Listar Incidencias</a>
    <a href="{% url "incidencias:mis_incidencias" %}" class="btn btn-success">Mis Incidencias</a>
  </div>
{% endblock %}
