<!-- carrito/templates/carrito/checkout.html -->

<script src="https://js.stripe.com/v3/"></script>
<script>
    var stripe = Stripe('pk_test_51OJBJcLdnlgk3Y2dpJzpzaN9fOTPdIsDcj2Yivp62YrdNGS4qx5kGyWyfCERA1SlDUwjKVhwacTUDvmt8iliYOXn008x30lhKK');
    var elements = stripe.elements();

    var card = elements.create('card');
    card.mount('#card-element');

    var form = document.getElementById('payment-form');

    form.addEventListener('submit', function (event) {
        event.preventDefault();

        stripe.createToken(card).then(function (result) {
            if (result.error) {
                // Informar al usuario sobre errores en la tarjeta
            } else {
                // Enviar el token al servidor
                fetch('/carrito/checkout/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        stripeToken: result.token.id,
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    // Manejar la respuesta del servidor (éxito o error)
                });
            }
        });
    });
</script>

<!-- Formulario de pago -->
<form id="payment-form">
    <div id="card-element">
        <!-- Elemento de tarjeta de Stripe -->
    </div>
    <button type="submit">Pagar</button>
</form>
