{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Checkout
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center">Checkout</h1>
    <div class="order-info">
        <h3 class="text-center">Your order</h3>
        <ul>
            {% for eleccion in elecciones %}
            <li>
                <img src="{{ eleccion.coche.imagen.url }}" alt="{{ eleccion.coche.modelo }}" width="100" height="100">
                {{ eleccion.cantidad }}x {{ eleccion.coche.modelo }}
                <span>${{ eleccion.get_precio_total }}</span>
            </li>
            {% endfor %}
        </ul>
        <h4>Total: ${{ cart.get_total_price }}</h4>
    </div>
    <form method="post" class="order-form">
    
        {{ form|crispy }}
        <p>Hola</p>
        <p><input class="btn btn-primary btn-sm btn-block" type="submit" value="Place order"></p>
    </form>
</div>
{% endblock %}
